body{
    margin: 0px;
    padding: 0px;
}

html{
    // Add stuff
}

#title{
    width: 30%;
    border-bottom: 1px solid black;
    font-size: 24px;
    margin: 1px auto;
    padding: 0px;
}
#title p{
    margin: 0px auto;
    text-align: center;
}

#itemHolder{
    border: 1px solid black;
    margin: 50px auto;
    padding: 20px;
    height: 100%;
    width: 90%;
}

#rowContainer{
    margin: 5%;
}

#item{
    display: inline;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 10%;
}
